.homegifts{
    display: flex;
    
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    

   
            // flex-direction: column;
            // align-items: center;
            // flex-wrap: nowrap;
   
    figure{
        margin: 0px;
        padding: 0px 0px 0px 15px;
        width: 49%;
      
        img{
            width: 100%;
        }
    } 
    
    .giftscontent{
        
            width: 50%;
        
        display: flex;
        margin: auto 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        h4{
            margin: 0px 0 14px;
            padding: 0px;
            font-size: var(--fs-xxl);
        }
        p{
            margin: 0px;
            padding: 0px;
            font-size: 1.125rem;
            font-weight: 300;
        }
        span{
            margin-top: 60px;
        }
    }
       
}