@use '../abstracts' as a;
@use '../base' as t;

.container{
    #pagecontent{
        margin-top: 40px;
        h1{
            margin: 0px;
            padding: 0px;
            font-size: a.rem(24);
            font-weight: normal;
            font-family: var(--f-second);
            text-align: center;
        }

        p{
            font-size: a.rem(15);
        }

        ol{
            list-style: decimal;
            line-height: 36px;
            margin-left: 20px;
            font-size: a.rem(16);
            letter-spacing: t.$letter-spacing;
        }

        .outercontentpage{
            
            .imagepage{
                float: left;
                width: 40%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .contentpage{
                float: left;
                width: 55%;
                margin-left: 30px;

                ul{
                    margin-top: 20px;
                    display: grid;
                    grid-column-gap: 8px;
                    grid-template-columns: repeat(3,1fr);
                    li{
                        a{
                            filter: brightness(97%); 
                            figure{
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wp-block-woocommerce-cart{
    margin-top: 30px;
    a{
        color: var(--clr-primary);
        &:hover{
            color: var(--clr-primary-hover);
        }
    }
}


.page{
    >.titlepage{
        h1{
            margin: 0px;
            padding: 0px;
            font-size: a.rem(24);
            font-weight: normal;
            font-family: var(--f-second);
            text-align: center;
        }
    }
    .detailspages{
        > p{
            font-size: a.rem(17)!important;
        }
        ol , ul{
            list-style: decimal;
            line-height: 36px;
            margin-left: 20px;
            font-size: a.rem(16);
            letter-spacing: t.$letter-spacing;
            ul{
                margin: 0px 0 0px 25px;
                padding: 0px;
                list-style: disc;
            }
        }
    }
}