@use '../abstracts' as a;
@use '../base' as t;

#customer_login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    width: 100%;
    @include a.breakpoint-down(large){
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

  .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
  }

.woocommerce .woocommerce-MyAccount-navigation {
	width: 20%;
        float: left;
}

.woocommerce .woocommerce-MyAccount-content {
  display: inline-block;
  margin-left: 5%;
  width: 75%;
}



.woocommerce .woocommerce-MyAccount-navigation ul {
    padding: 0;
	border-top: 1px solid #eee;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
	list-style: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li.is-active a:before {
	opacity: 1;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a {
	padding: 10px 5px;
	display: block;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a:before {
	margin-right: 20px;
    opacity: .25;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a:hover:before {
	opacity: 1;
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    font-family: 'FontAwesome';
	content: "\f0e4";
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    font-family: 'FontAwesome';
	content: "\f291";
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    font-family: 'FontAwesome';
	content: "\f1c6";
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    font-family: 'FontAwesome';
	content: "\f015";
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
    font-family: 'FontAwesome';
	content: "\f09d";
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    font-family: 'FontAwesome';
	content: "\f007";
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
    font-family: 'FontAwesome';
	content: "\f08b";
}

.woocommerce .woocommerce-MyAccount-content h2 {
	font-size: 25px;
    text-align: center;
	font-weight: 600;
}

.woocommercet p.order-again {
    text-align: right;
}

.woocommerce .woocommerce-EditAccountForm input[type="submit"] {
    margin-top: 50px;
    float: right;
}





.woocommerce table.shop_attributes {
    border: 0;
      border-top-color: currentcolor;
      border-top-style: none;
      border-top-width: 0px;
    border-top: 1px dotted rgba(0,0,0,.1);
    margin-bottom: 1.618em;
    width: 100%;
  }

  .woocommerce table.shop_attributes th {
    width: 150px;
    font-weight: 700;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,.1);
    margin: 0;
    line-height: 1.5;
  }

  .woocommerce table.shop_attributes tr:nth-child(2n) td, .woocommerce table.shop_attributes tr:nth-child(2n) th {
    background: rgba(0,0,0,.025);
  }

  .woocommerce table.shop_attributes td {
    font-style: italic;
    padding: 0;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,.1);
    margin: 0;
    line-height: 1.5;
  }

  
.woocommerce div.product form.cart::after {

    clear: both;

}
.woocommerce div.product form.cart::after, .woocommerce div.product form.cart::before {

    content: " ";
    display: table;

}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
  }
  .woocommerce div.product form.cart .variations {
    margin-bottom: 1em;
    border: 0;
    width: 100%;
  }
  .woocommerce div.product form.cart table {
    border-width: 0 0 1px;
}

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
    border: 0;
    line-height: 2em;
    vertical-align: top;
  }

  .woocommerce div.product form.cart .variations label {
    font-weight: 700;
    text-align: left;
  }

  .woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
    border: 0;
    line-height: 2em;
    vertical-align: top;
  }
  .woocommerce div.product form.cart table td {
    padding-left: 0;
  }

  .woocommerce div.product form.cart .variations select {
    max-width: 100%;
    min-width: 75%;
    display: inline-block;
    margin-right: 1em;
  }

  .woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 0 4px 0 0;
  }

  .woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
  }

  
::selection {

    color: #fff;
    background-color: #e6e7e8;

}
::selection {

    color: #fff;
    background-color: #e6e7e8;

}

.screen-reader-text {

    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;

}

.bgproducts .productflex .rightdetailsproduct button.button.alt {
    background-color: #010101 !important;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    font-family: var(--f-second);
  }



.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
  }



  .outercart{
    padding: 50px 0;
  }


 .cart_item > .product-thumbnail > a > .size-woocommerce_thumbnail{
    max-width: 120px;
    width: auto;
    height: auto;
 }

 
 /* Στυλ για desktop */
.coupon {
  float: right;
  margin-left: 10px;
}

.actions button[name="update_cart"] {
  float: left;
}

/* Ευθυγράμμιση του ύψους του πεδίου εισαγωγής με το ύψος του κουμπιού */
.coupon input.input-text,
.coupon button.button {
    height: 40px; /* Καθορίστε το επιθυμητό ύψος */
}

/* Στυλ για mobile */
@media (max-width: 768px) {
  .coupon,
  .actions button[name="update_cart"] {
      float: none; /* Κατάργηση του float */
      margin-left: 0; /* Κατάργηση του περιθωρίου */
      display: block; /* Καθιέρωση block display για επίπεδη διάταξη */
      width: 100%; /* Καθιέρωση πλήρους πλάτους */
      box-sizing: border-box; /* Καθιέρωση box-sizing για να συμπεριλάβει padding και border στο πλάτος */
  }
}


ul.order_details {

 
  margin: 0 0 3em;
  list-style: none;

  li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 0.715em;
    line-height: 1;
    border-right: 1px dashed darken(desaturate(lighten(#7F54B3, 40%), 21%) , 10%);
    padding-right: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    strong {
      display: block;
      font-size: 1.4em;
      text-transform: none;
      line-height: 1.5;
    }

    &:last-of-type {
      border: none;
    } 
  }
}

.wc-bacs-bank-details-account-name {
  font-weight: bold;
}


.woocommerce-order-downloads,
	.woocommerce-customer-details,
	.woocommerce-order-details {
		margin-bottom: 2em;

		*:last-child {
			margin-bottom: 0;
		}
	}

	.woocommerce-customer-details {

		address {
			font-style: normal;
			margin-bottom: 0;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom-width: 2px;
			border-right-width: 2px;
			text-align: left;
			width: 100%;
			border-radius: 5px;
			padding: 6px 12px;
		}

		.woocommerce-customer-details--phone,
		.woocommerce-customer-details--email {
			margin-bottom: 0;
			padding-left: 1.5em;
		}

		.woocommerce-customer-details--phone::before {

			//@include iconbefore( "\e037" );
			margin-left: -1.5em;
			line-height: 1.75;
			position: absolute;
		}

		.woocommerce-customer-details--email::before {

			//@include iconbefore( "\e02d" );
			margin-left: -1.5em;
			line-height: 1.75;
			position: absolute;
		}
	}

