@use '../abstracts' as a;

header {


    #logo {
        text-align: center;

    }

    nav {
        padding-top: 25px;
        
    }

    .shopdetails {
        text-align: right;
        padding: 20px 0;

        ul {
            li {
                display: inline-flex;
                padding: 0 10px;
                font-size: 14px;
                font-weight: 300;

                a {
                    color: var(--clr-black);

                    &:hover {
                        color: var(--clr-primary-hover);
                    }
                }

            }

            .headeraccount {
                a {
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f007";
                    }

                    @include a.breakpoint-down(xmedium) {
                        span {
                            display: none;

                        }
                    }
                }
            }

            .headerlogout {
                a {
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f08b";
                    }
                    @include a.breakpoint-down(xmedium) {
                        span {
                            display: none;

                        }
                    }
                }
            }

            .headercart {
                a {
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f291";
                    }
                }
            }
        }
    }
}




.woocommerce-product-search {
    display: flex; /* Τοποθέτηση των στοιχείων δίπλα-δίπλα */
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;

    input[type="text"] {
        flex-grow: 1;
        padding: 15px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 50px; /* Στρογγυλοποίηση για μοντέρνο look */
        font-size: 16px; /* Μεγαλύτερη γραμματοσειρά */
        transition: border-color 0.3s;

        &:focus {
            border-color: #777; /* Αλλαγή χρώματος ορίου κατά την εστίαση */
            outline: none;
        }
    }

    input[type="submit"] {
        padding: 15px 20px;
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 50px; /* Στρογγυλοποίηση για μοντέρνο look */
        cursor: pointer;
        font-size: 16px; /* Μεγαλύτερη γραμματοσειρά */
        transition: background-color 0.3s;

        &:hover {
            background-color: #444; /* Αλλαγή χρώματος κουμπιού κατά το hover */
        }
    }
}



