@use '../abstracts' as a;

header {

    #outerheader{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 1rem 2rem;

        @include a.breakpoint-up(md) {
            padding: 1rem 2rem;
        }
        
        // Για μικρές οθόνες, αλλάζουμε σε κάθετη διάταξη
        @include a.breakpoint-down(md) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-gap: 1rem;
            text-align: center;
        }


    #logo {
        justify-self: start;
        @include a.breakpoint-down(md) {
            justify-self: center;
        }
    }

    nav {
        @include a.breakpoint-down(md) {
            grid-row: 3;
            width: 100%;
        }
        
    }

    .shopdetails {
        text-align: right;
        padding: 20px 0;
        @include a.breakpoint-down(md) {
            grid-row: 2;
            text-align: center;
            padding: 10px 0;
        }
        ul {
            @include a.breakpoint-down(sm) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            li {
                display: inline-flex;
                padding: 0 10px;
                font-size: 14px;
                font-weight: 300;
                @include a.breakpoint-down(sm) {
                    padding: 5px;
                }
                a {
                    color: var(--clr-black);

                    &:hover {
                        color: var(--clr-primary-hover);
                    }
                }

            }

            .headeraccount {
                a {
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f007";
                    }

                    @include a.breakpoint-down(xmedium) {
                        span {
                            display: none;

                        }
                    }
                }
            }

            .headerlogout {
                a {
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f08b";
                    }
                    @include a.breakpoint-down(xmedium) {
                        span {
                            display: none;

                        }
                    }
                }
            }

            .headercart {
                a {
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f291";
                    }
                }
            }
        }
    }
}
}




.woocommerce-product-search {
    display: flex; /* Τοποθέτηση των στοιχείων δίπλα-δίπλα */
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;

    input[type="text"] {
        flex-grow: 1;
        padding: 15px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 50px; /* Στρογγυλοποίηση για μοντέρνο look */
        font-size: 16px; /* Μεγαλύτερη γραμματοσειρά */
        transition: border-color 0.3s;

        &:focus {
            border-color: #777; /* Αλλαγή χρώματος ορίου κατά την εστίαση */
            outline: none;
        }
    }

    input[type="submit"] {
        padding: 15px 20px;
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 50px; /* Στρογγυλοποίηση για μοντέρνο look */
        cursor: pointer;
        font-size: 16px; /* Μεγαλύτερη γραμματοσειρά */
        transition: background-color 0.3s;

        &:hover {
            background-color: #444; /* Αλλαγή χρώματος κουμπιού κατά το hover */
        }
    }
}



