.outerservices{
    background-color: var(--clr-bgmain);
    height: 100vh;
    &__title{
        padding: 30px 0;
        h2{
            font-family: 'neutratextgreekdemi';
            font-size: 11rem;
            -webkit-text-stroke: 1pt hsla(170, 48%, 50%, 0.3);
            -webkit-text-fill-color: #fff0;
            text-transform: uppercase;
            height: fit-content;
            line-height: 0.7;
            padding-bottom: 20px;
        }
        span{
            color: #000F30;
            font-size: 35px;
            font-weight: 200;
            
        }
    }

    .listservices{
        ul{
            display: flex;
                li{
                    padding: 0 20px;
                    margin: 0 auto;
                    width: 24%;
                    .iconservice{
                        figure{
                            margin: 0px;
                            padding: 0px;
                            a{
                                outline: none;
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .titleservice{
                        text-align: right;
                        h3{
                            margin: 0;
                            padding: 0;
                            font-weight: 200;
                            font-size: 2rem;
                            a{
                                color: #000F30;
                            }
                        }
                    }
                    .sortdescription{
                        font-size: 15px;
                        p{
                            
                        }
                    }
                }
            }
        }
        .contactwithus{
            margin: 0 auto;
            text-align: center;
            button{
                background: none;
                outline: none;
                border: 1px solid #000F30;
                padding: 10px 30px;
                margin-top: 50px;
                a{
                    color: #000F30;
                    font-size: 16px;
                }
            }
        }
    }


.outercompany{
    background-color: var(--clr-bluelight);
    height: 100vh;
    .companysection{
        display: flex;
        &__title{
            padding: 30px 0;
            h2{
                font-family: 'neutratextgreekdemi';
                font-size: 11rem;
                -webkit-text-stroke: 1pt hsla(0, 0%, 100%, 0.3);
                -webkit-text-fill-color: var(--clr-bluelight);
                text-transform: uppercase;
                height: fit-content;
                line-height: 0.7;
                padding-bottom: 20px;
            }
            span{
                font-size: 35px;
                font-weight: 200;
                color: var(--clr-white);
                
            }
        }
        &__slogan{

        }
    }
}

.hmprojects{
    background-color: var(--clr-bgmain);
    &__title{
        padding: 30px 0;
        h2{
            font-family: 'neutratextgreekdemi';
            font-size: 11rem;
            -webkit-text-stroke: 1pt hsla(170, 48%, 50%, 0.3);
            -webkit-text-fill-color: #fff0;
            text-transform: uppercase;
            height: fit-content;
            line-height: 0.7;
            padding-bottom: 20px;
        }
        span{
            font-size: 35px;
            font-weight: 200;
            
        }
    }
    &__list{
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 83%;
                .hmprojectdetails{
                    width: 50%;
                    
                    &__number{

                    }
                    &__title{

                    }
                }
                .hmprojectsimg{
                    width: 50%;
                    figure{
                        margin: 0;
                        padding: 0;
                    }
                }
                &:nth-child(odd){
                    .hmprojectdetails{
                        order: 1;
                        text-align: right;
                        padding-right: 60px;
                    }
                    .hmprojectsimg{
                        order: 2;
                    }
                }
                &:nth-child(even){
                    .hmprojectdetails{
                        order: 2;
                        text-align: left;
                        padding-left: 60px;
                    }
                    .hmprojectsimg{
                        order: 1;
                    }
                }
            }
        }
    }
    .contactwithus{
        margin: 0 auto;
        text-align: center;
        button{
            background: none;
            outline: none;
            border: 1px solid #000F30;
            padding: 10px 30px;
            margin-top: 50px;
            a{
                color: #000F30;
                font-size: 16px;
            }
        }
    }
}

.outercontact{
    display: flex;
    .textcontact{
        background-color: var(--clr-bluelight);
        width: 50%;
        padding: 0px 0 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        font-weight: 200;
        &__title{
            margin: auto 150px;
            span{
                font-size: 35px;
                font-weight: 200;
                color: var(--clr-white);
                
            }
            p{
                color: var(--clr-white);
            }
        }

        &__slogan{
            margin: auto 150px;
            color: var(--clr-white);
            font-size: 28px;
            
        }
    }
    .hmcontact{
        width: 50%;
        background-color: #fff;
        display: flex;
        padding: 150px 0;
        form{
            padding: 0;
            margin: 0 auto;
            width: 40em;
            .detailsform{
                padding-bottom: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input{
                    border: 0 solid var(--clr-bluelight);
                    border-bottom-width: 2px;
                    outline: none;
                    width: 49%;
                    padding: 0 0 8px;
                    &::placeholder{
                        color: #969696;
                        font-size: 14px;
                        font-weight: 200;
                    }
                }
            }
            .message{
                padding-bottom: 40px;
                textarea{
                    border: 0 solid var(--clr-bluelight);
                    border-bottom-width: 2px;
                    padding: 0 0 8px;
                    width: 100%;
                    outline: none;
                    &::placeholder{
                        color: #969696;
                        font-size: 14px;
                        font-weight: 200;
                    }
                }
            }
            button{
                background-color: var(--clr-bluelight);
                color: var(--clr-white);
                padding: 7px 55px;
                border: none;
                float: right;
                outline: none;
                font-size: 14px;
                a{
                    color: var(--clr-white);
                }
            }
        }
    }
}