.outerpagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: visible !important;

    .pagination {
        list-style: none;
        text-align: center;
        text-decoration: none;
        margin: 2rem auto;

        li {
            display: inline-block;
            box-shadow: 0 3px 20px -0.2px rgba(0, 0, 0, 0.1);
            transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000);
            color: #000;
            background: #fff;
            float: left;

            a {
                width: 50px;
                height: 50px;
                line-height: 50px;
                display:block;
                color: #000;
                text-decoration: none;
            }

            &:hover {
                background: -webkit-linear-gradient(35deg, #fad8a6, #faa6e9);
                background: linear-gradient(35deg, #fad8a6, #faa6e9);
            }

            span {
                display: block;
                line-height: 50px; // Κεντράρει τον αριθμό κατακόρυφα
            }

            &.next, &.prev {
                width: auto !important;
                padding: 0 1rem;
                position: relative;
            }

            .next, .prev {
                &:hover {
                    background: none; // Αφαιρέστε το χρώμα φόντου κατά το hover για τα πλάτη
                }
            }
        }
    }
}
