@use './typography' as t;
@use '../abstracts' as a;

html{
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

*, *::before , *::after{
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
} 


body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: var(--clr-background);
    font-family: var(--f-secondary);
    font-weight: 300;
    font-size: t.$font-size-body;
}

main{
    background: a.color('white');
    
}

.wrapper{
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
}

