/*====================================== reset.css is here ========================================*/
body, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote { margin: 0; padding: 0; }

html { margin: 0 !important; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; margin: 0px;  padding: 0px;}

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: bold; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

.clear_0 { clear: both; font-size: 0px; line-height: 0px; display: block; }

.last { margin-right: 0 !important; }

.pad_last { padding: 0 !important; }

.no_bg { background: none !important; }

/**************************************************************************************/
a { text-decoration: none; outline: 0 none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

a:hover { text-decoration: none; }

::selection { color: #fff; background-color: #e6e7e8; }

::-moz-selection { color: #ffffff; background-color: #e6e7e8; }

h1 { font-size: 24px; }

h2 { font-size: 22px; }

h3 { font-size: 18px; }

h4 { font-size: 16px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
  }