:root{
    --clr-background: hsl(0, 0%, 100%);
    --clr-gold: hsl(40, 58%, 44%);
    --clr-grey: #403e41; 
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --powerby-clr: hsl(345, 6%, 13%);
    --footer-clr: hsl(210, 2%, 66%); //a6a8aa
    --light-grey: hsl(240, 1%, 51%); //808082

    --clr-roz:#e3d5d4;
    --clr-roz-opacity: rgba(227,213,212, 0.5); //#e3d5d4
    
    --image-scaleUp: scale(1.05);
    --trans-image: all 500ms ease-in-out;

    --f-primary: "Noto Sans", sans-serif;;
    --f-secondary: "Noto Sans", sans-serif;

    --fs-xxl: 3.125rem; //50px
    --fs-xl: 3rem; //48px
    --fs-sl: 1.063rem; //17px

    
                // --fs-xxl: 1.25rem;
                // --fs-xl: 1.25rem;
                // -fs-sl: 0.875rem; //14px
        
}

