@mixin bp($point) {
    @if ($MQs) { 
    @if $point== xsm {
      @media #{$mq-xsm} {
        @content;
      }
    }
    @else if $point == mobilePortrait {
        @media only screen
        and (min-device-width : 320px) {
           @content; 
          }
    }
    
    @else if $point==smed {
        @media #{$mq-smedium} {
          @content;
        }
      } @else if $point==medium {
        @media #{$mq-medium} {
          @content;
        }
      }

       @else if $point==xslarge{
        @media #{$mq-xslarge} {
          @content;
        }
      }
      
      @else if $point==slarge{
        @media #{$mq-slarge} {
          @content;
        }
      }
      
      @else if $point==large {
        @media #{$mq-large} {
          @content;
        }

      } @else if $point==retina {
        @media #{$mq-retina} {
          @content;
        }
      }
    } @else {
      @if $point !=retina {
        @content;
      }
    }
  }
  
  @mixin bp-max($point) {
    @if $point == xsm {
      @media (max-width: ($bp-xsm - 0px)) {
        @content;
      }
    }

    @if $point==sm {
      @media (max-width: ($bp-sm - 1px)) {
        @content;
      }
    }

    @else if $point==mobilePortrait {
      @media (max-width: (320px - 1px)) {
        @content;
      }
    }
    
    
    @else if $point==smedium {
      @media (max-width: ($bp-smedium - 1px)) {
        @content;
      }
    }
    @else if $point==medium {
      @media (max-width: ($bp-medium - 1px)) {
        @content;
      }
    } @else if $point==slarge {
      @media (max-width: ($bp-slarge - 1px)) {
        @content;
      }
    } 
    @else if $point==large {
      @media (max-width: ($bp-large - 1px)) {
        @content;
      }
    }

    @else if $point==xlarge {
      @media (max-width: ($bp-xlarge - 1px)) {
        @content;
      }
    } @else {
      @media (max-width: ($point - 1px)) {
        @content;
      }
    }
  }

@mixin font-size($sizeValue: 1.6) {
    //font-size: ($sizeValue * 10) + px;
    font-size: ($sizeValue / 16) + rem;
}
