// -----------------------------------------------------------------------------
// BREAKPOINTS MAP
// -----------------------------------------------------------------------------
$breakpoints: (
  "xs": 280px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1680px
);

// -----------------------------------------------------------------------------
// MIXIN: BREAKPOINT UP (Mobile-First)
// -----------------------------------------------------------------------------
@mixin up($size) {
  // Χρήση παλιάς σύνταξης που παίζει παντού
  @if map-has-key($breakpoints, $size) {
    $width: map-get($breakpoints, $size);
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @warn "Το breakpoint: '#{$size}' δεν υπάρχει στο map.";
  }
}

// -----------------------------------------------------------------------------
// MIXIN: BREAKPOINT DOWN (Desktop-First)
// -----------------------------------------------------------------------------
@mixin down($size) {
  @if map-has-key($breakpoints, $size) {
    $width: map-get($breakpoints, $size);
    @media (max-width: ($width - 0.02px)) {
      @content;
    }
  } @else {
    @warn "Το breakpoint: '#{$size}' δεν υπάρχει στο map.";
  }
}

// -----------------------------------------------------------------------------
// MIXIN: BREAKPOINT BETWEEN
// -----------------------------------------------------------------------------
@mixin between($lower, $upper) {
  $min: map-get($breakpoints, $lower);
  $max: map-get($breakpoints, $upper);

  @if $min and $max {
    @media (min-width: $min) and (max-width: ($max - 0.02px)) {
      @content;
    }
  } @else {
    @warn "Κάποιο breakpoint δεν βρέθηκε.";
  }
}