// -----------------------------------------------------------------------------
// STRIP UNIT
// -----------------------------------------------------------------------------
@function strip-unit($number) {
  // type-of αντί για meta.type-of
  @if type-of($number) == 'number' and not unitless($number) {
    // Κλασική διαίρεση για να μην χτυπήσει το module system
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// -----------------------------------------------------------------------------
// REM CONVERTER
// -----------------------------------------------------------------------------
@function rem($pixels, $context: 16) {
  @if type-of($pixels) != 'number' {
    @error "Η τιμή '#{$pixels}' πρέπει να είναι αριθμός.";
  }
  
  // Κλασική διαίρεση
  @return calc((strip-unit($pixels) / strip-unit($context))) * 1rem;
}

// -----------------------------------------------------------------------------
// EM CONVERTER
// -----------------------------------------------------------------------------
@function em($pixels, $context: 16) {
  @if type-of($pixels) != 'number' {
    @error "Η τιμή '#{$pixels}' πρέπει να είναι αριθμός.";
  }

  @return (strip-unit($pixels) / strip-unit($context)) * 1em;
}