@use "sass:math";
@use "sass:meta";

// -----------------------------------------------------------------------------
// STRIP UNIT
// -----------------------------------------------------------------------------
@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}

// -----------------------------------------------------------------------------
// REM CONVERTER
// -----------------------------------------------------------------------------
@function rem($pixels, $context: 16) {
  @if meta.type-of($pixels) != 'number' {
    @error "Η τιμή '#{$pixels}' πρέπει να είναι αριθμός.";
  }
  
  // Χρήση math.div για συμβατότητα με Dart Sass
  $value: math.div(strip-unit($pixels), strip-unit($context));
  @return $value * 1rem; 
}

// -----------------------------------------------------------------------------
// EM CONVERTER
// -----------------------------------------------------------------------------
@function em($pixels, $context: 16) {
  @if meta.type-of($pixels) != 'number' {
    @error "Η τιμή '#{$pixels}' πρέπει να είναι αριθμός.";
  }

  $value: math.div(strip-unit($pixels), strip-unit($context));
  @return $value * 1em;
}