.outerarricles{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    article{
        width: 24%;
        figure{
            margin: 0;
            padding: 0;
            img{
                width: 100%;
                height: auto;
            }
        }
        h2{
            a{
                color: black;
            }
        }
    }
}